<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>

<script th:inline="javascript">



var client = Stomp.client("ws://127.0.0.1:8080/ws/chat");
client.connect({}, function() {
  client.subscribe('/exchange/chat.exchange/room.${chatRoomId}', function(message) {
    var value = message.body;
    console.log('Received value:', value);
  });
});




 </script>